
    .commstatus_1 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .routestatus_1 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .commstatus_2 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .routestatus_2 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .commstatus_3 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .routestatus_3 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .commstatus_4 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    .routestatus_4 {
      padding: 2em;
      color: #000000;
      display: none;
    }

    #icon{
      display: none;
      position: absolute;
    }

    #icon11{
      display: none;
    }
   
    #hide_Orders{
        display: none;
    }

    #hide_ADT{
        display: none;
    }

    #show_Orders{
        display: true;
    }

    #show_ADT{
        display: true;
    }

    #hide_ISCV{
        display: none;
    }

    #hide_DECG{
        display: none;
    }

    #show_ISCV{
        display: true;
    }

    #show_DECG{
        display: true;
    }

    .btn{
      width:75%;
      margin:0;
      background:none;
      border: 0px solid transparent;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      appearance: none;
      -webkit-appearance: none;
      font-size:20px;
      color: #FFFFFF;
      padding: 1.6em 1.9em .5em .8em;
      line-height:1.3;
      display: true;
    }

    .butn{
      width:20%;
      margin:0;
      background:none;
      border: 0px solid transparent;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      appearance: none;
      -webkit-appearance: none;
      font-size:20px;
      color: #000000;
      padding: 1.6em 1.9em .5em .8em;
      line-height:1.3;
      display: true;
    }

    .butnn{
      width:10%;
      margin:0;
      background:none;
      border: 0px solid transparent;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      appearance: none;
      -webkit-appearance: none;
      font-size:13px;
      color: #000000;
      padding: 1.6em 1.9em .5em .8em;
      line-height:1.3;
      display: true;
    }

    h3{
    word-spacing: 5px;
    }


    .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
    .toggle.ios .toggle-handle { border-radius: 20px; }
 
    .butnnn{
      width:10%;
      margin:0;
      background:none;
      border: 0px solid transparent;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      appearance: none;
      -webkit-appearance: none;
      font-size:13px;
      color: #000000;
      padding: 1.6em 1.9em .5em .8em;
      line-height:1.3;
      display: true;
    }